.main-gallery {
    &__title {
        color: $color-light;
        font-size: var(--h2-font-size);
    }

    &__grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5em;

        @include from( 700px ){
            grid-template-columns: repeat(3, 1fr);
        }
        @include from( large ){
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__img-item {
        cursor: pointer;
    }
}